openapi: 3.0.0
info:
  title: Iconscout API v3.0 Docs
  version: '3.0'
  description: |-
    Iconscout is India's First Digital Goods marketplace. We are providing high quality digital assets accessible to everyone. We are bridging the gap between users and designers by connecting them on mutual platform. We are enabling designers to share their work to large audience out there and earn from what they love doing. By doing so, we are able to provide amazing resources to the users and right amount to our designers - our two most important stakeholders.

    Iconscout API provides developers an access to huge collection of graphic resources. Developers are free to utilize our API to develop apps, plugins, extensions and many more.

    Please follow our API docs for integration and do drop us mail in case of any queries.
  contact:
    name: Iconscout API
    email: api@iconscout.com
    url: 'https://iconscout.com/developers'
  termsOfService: 'https://iconscout.com/legal/api-license-development-agreement'
servers:
  - url: 'https://api.iconscout.com'
    description: Iconscout API
tags:
  - name: Search
  - name: Download
paths:
  /v3/search:
    get:
      summary: Search
      tags:
        - Search
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                uniqueItems: false
                items: {}
              examples:
                Icon Results:
                  value:
                    status: success
                    response:
                      items:
                        current_page: 1
                        data:
                          - id: 101173
                            uuid: 560fb9c7-9d1b-11e8-aa5b-16f546a19484
                            asset: icon
                            name: Instagram
                            slug: instagram-34
                            price: 0
                            _score: 1
                            urls:
                              png_64: 'https://cdn.iconscoutmails.com/icon/free/png-64/instagram-34-101173.png'
                              png_128: 'https://cdn.iconscoutmails.com/icon/free/png-128/instagram-34-101173.png'
                              png_256: 'https://cdn.iconscoutmails.com/icon/free/png-256/instagram-34-101173.png'
                            color_codes:
                              - decimal_color: 16777215
                                color_id: 1566
                          - id: 101172
                            uuid: 560fb7a3-9d1b-11e8-aa5b-16f546a19484
                            asset: icon
                            name: Facebook
                            slug: facebook-45
                            price: 0
                            _score: 1
                            urls:
                              png_64: 'https://cdn.iconscoutmails.com/icon/free/png-64/facebook-45-101172.png'
                              png_128: 'https://cdn.iconscoutmails.com/icon/free/png-128/facebook-45-101172.png'
                              png_256: 'https://cdn.iconscoutmails.com/icon/free/png-256/facebook-45-101172.png'
                            color_codes:
                              - decimal_color: 6324676
                                color_id: 381
                          - id: 101182
                            uuid: 560fcdf2-9d1b-11e8-aa5b-16f546a19484
                            asset: icon
                            name: Youtube
                            slug: youtube-59
                            price: 0
                            _score: 1
                            urls:
                              png_64: 'https://cdn.iconscoutmails.com/icon/free/png-64/youtube-59-101182.png'
                              png_128: 'https://cdn.iconscoutmails.com/icon/free/png-128/youtube-59-101182.png'
                              png_256: 'https://cdn.iconscoutmails.com/icon/free/png-256/youtube-59-101182.png'
                            color_codes:
                              - decimal_color: 14362404
                                color_id: 1146
                          - id: 101178
                            uuid: 560fc501-9d1b-11e8-aa5b-16f546a19484
                            asset: icon
                            name: Twitter
                            slug: twitter-37
                            price: 0
                            _score: 1
                            urls:
                              png_64: 'https://cdn.iconscoutmails.com/icon/free/png-64/twitter-37-101178.png'
                              png_128: 'https://cdn.iconscoutmails.com/icon/free/png-128/twitter-37-101178.png'
                              png_256: 'https://cdn.iconscoutmails.com/icon/free/png-256/twitter-37-101178.png'
                            color_codes:
                              - decimal_color: 4439535
                                color_id: 335
                          - id: 101177
                            uuid: 560fc2c9-9d1b-11e8-aa5b-16f546a19484
                            asset: icon
                            name: Snapchat
                            slug: snapchat-33
                            price: 0
                            _score: 1
                            urls:
                              png_64: 'https://cdn.iconscoutmails.com/icon/free/png-64/snapchat-33-101177.png'
                              png_128: 'https://cdn.iconscoutmails.com/icon/free/png-128/snapchat-33-101177.png'
                              png_256: 'https://cdn.iconscoutmails.com/icon/free/png-256/snapchat-33-101177.png'
                            color_codes:
                              - decimal_color: 16562728
                                color_id: 1385
                          - id: 227895
                            uuid: 5b164f27-9d1b-11e8-aa5b-16f546a19484
                            asset: icon
                            name: Instagram
                            slug: instagram-71
                            price: 0
                            _score: 1
                            urls:
                              png_64: 'https://cdn.iconscoutmails.com/icon/free/png-64/instagram-71-227895.png'
                              png_128: 'https://cdn.iconscoutmails.com/icon/free/png-128/instagram-71-227895.png'
                              png_256: 'https://cdn.iconscoutmails.com/icon/free/png-256/instagram-71-227895.png'
                            color_codes: []
                          - id: 101181
                            uuid: 560fcbb9-9d1b-11e8-aa5b-16f546a19484
                            asset: icon
                            name: Whatsapp
                            slug: whatsapp-29
                            price: 0
                            _score: 1
                            urls:
                              png_64: 'https://cdn.iconscoutmails.com/icon/free/png-64/whatsapp-29-101181.png'
                              png_128: 'https://cdn.iconscoutmails.com/icon/free/png-128/whatsapp-29-101181.png'
                              png_256: 'https://cdn.iconscoutmails.com/icon/free/png-256/whatsapp-29-101181.png'
                            color_codes:
                              - decimal_color: 2339200
                                color_id: 200
                          - id: 434627
                            uuid: 639f3d36-9d1b-11e8-aa5b-16f546a19484
                            asset: icon
                            name: Facebook
                            slug: facebook-126
                            price: 0
                            _score: 1
                            urls:
                              png_64: 'https://cdn.iconscoutmails.com/icon/free/png-64/facebook-126-434627.png'
                              png_128: 'https://cdn.iconscoutmails.com/icon/free/png-128/facebook-126-434627.png'
                              png_256: 'https://cdn.iconscoutmails.com/icon/free/png-256/facebook-126-434627.png'
                            color_codes:
                              - decimal_color: 14818075
                                color_id: 1146
                          - id: 434623
                            uuid: 639f34ce-9d1b-11e8-aa5b-16f546a19484
                            asset: icon
                            name: Instagram
                            slug: instagram-101
                            price: 0
                            _score: 1
                            urls:
                              png_64: 'https://cdn.iconscoutmails.com/icon/free/png-64/instagram-101-434623.png'
                              png_128: 'https://cdn.iconscoutmails.com/icon/free/png-128/instagram-101-434623.png'
                              png_256: 'https://cdn.iconscoutmails.com/icon/free/png-256/instagram-101-434623.png'
                            color_codes:
                              - decimal_color: 14818075
                                color_id: 1146
                          - id: 47379
                            uuid: 53f2346f-9d1b-11e8-aa5b-16f546a19484
                            asset: icon
                            name: Instagram
                            slug: instagram-brand-logo
                            price: 0
                            _score: 1
                            urls:
                              png_64: 'https://cdn.iconscoutmails.com/icon/free/png-64/instagram-brand-logo-47379.png'
                              png_128: 'https://cdn.iconscoutmails.com/icon/free/png-128/instagram-brand-logo-47379.png'
                              png_256: 'https://cdn.iconscoutmails.com/icon/free/png-256/instagram-brand-logo-47379.png'
                            color_codes:
                              - decimal_color: 0
                                color_id: 1
                        first_page_url: /v3/search?query=%2A&product_type=item&asset=icon&per_page=10&sort=relevant&quality=0&page=1
                        from: 1
                        last_page: 185812
                        last_page_url: /v3/search?query=%2A&product_type=item&asset=icon&per_page=10&sort=relevant&quality=0&page=185812
                        next_page_url: /v3/search?query=%2A&product_type=item&asset=icon&per_page=10&sort=relevant&quality=0&page=2
                        path: /v3/search
                        per_page: 10
                        prev_page_url: null
                        to: 10
                        total: 1858120
                    meta:
                      total_time: 357.51
                      db_query_time: 2.9
                      db_query_count: 2
                    elements: null
                    message: null
                Illustration Results:
                  value:
                    status: success
                    response:
                      items:
                        current_page: 1
                        data:
                          - id: 1499457
                            uuid: 044c3c90-af71-11e9-9899-0242ac140003
                            asset: illustration
                            name: RHOMBUS Wedding Floral Golden Frame
                            slug: rhombus-wedding-floral-golden-frame-1757780
                            price: 5
                            _score: 1
                            urls:
                              thumb: 'https://cdni.iconscoutmails.com/illustration/premium/thumb/rhombus-wedding-floral-golden-frame-1757780-1499457.png'
                            color_codes:
                              - decimal_color: 13035222
                                color_id: 1003
                          - id: 1499960
                            uuid: d0419e40-af95-11e9-8d92-0242ac140003
                            asset: illustration
                            name: INTESTINES Medicine Scheme Anatomy Handdraw
                            slug: intestines-medicine-scheme-anatomy-handdraw-1751978
                            price: 5
                            _score: 1
                            urls:
                              thumb: 'https://cdni.iconscoutmails.com/illustration/premium/thumb/intestines-medicine-scheme-anatomy-handdraw-1751978-1499960.png'
                            color_codes:
                              - decimal_color: 16441307
                                color_id: 1323
                          - id: 1479599
                            uuid: 2af145a0-a7a6-11e9-9e1d-0242ac140003
                            asset: illustration
                            name: Wedding golden frame with copy space
                            slug: wedding-golden-frame-with-copy-space-1742896
                            price: 5
                            _score: 1
                            urls:
                              thumb: 'https://cdni.iconscoutmails.com/illustration/premium/thumb/wedding-golden-frame-with-copy-space-1742896-1479599.png'
                            color_codes:
                              - decimal_color: 11920095
                                color_id: 949
                          - id: 1460154
                            uuid: 78629b30-9cad-11e9-8431-0242ac140003
                            asset: illustration
                            name: BRAIN STRUCTURE Nervous System
                            slug: brain-structure-nervous-system-1715915
                            price: 5
                            _score: 1
                            urls:
                              thumb: 'https://cdni.iconscoutmails.com/illustration/premium/thumb/brain-structure-nervous-system-1715915-1460154.png'
                            color_codes:
                              - decimal_color: 9225276
                                color_id: 644
                          - id: 1496408
                            uuid: 70dcc480-adfe-11e9-8be6-0242ac140003
                            asset: illustration
                            name: TROPICAL FRUIT Summer Seamless Pattern
                            slug: tropical-fruit-summer-seamless-pattern-1758817
                            price: 5
                            _score: 1
                            urls:
                              thumb: 'https://cdni.iconscoutmails.com/illustration/premium/thumb/tropical-fruit-summer-seamless-pattern-1758817-1496408.png'
                            color_codes:
                              - decimal_color: 13673914
                                color_id: 1043
                          - id: 1499456
                            uuid: fa6fd600-af70-11e9-a26a-0242ac140003
                            asset: illustration
                            name: ROCKET GIRL Cartoon Space Princess
                            slug: rocket-girl-cartoon-space-princess-1757781
                            price: 5
                            _score: 1
                            urls:
                              thumb: 'https://cdni.iconscoutmails.com/illustration/premium/thumb/rocket-girl-cartoon-space-princess-1757781-1499456.png'
                            color_codes:
                              - decimal_color: 9930968
                                color_id: 629
                          - id: 1499461
                            uuid: 66914aa0-af71-11e9-bd60-0242ac140003
                            asset: illustration
                            name: RED WHITE Wedding Floral Golden Frame
                            slug: red-white-wedding-floral-golden-frame-1757778
                            price: 5
                            _score: 1
                            urls:
                              thumb: 'https://cdni.iconscoutmails.com/illustration/premium/thumb/red-white-wedding-floral-golden-frame-1757778-1499461.png'
                            color_codes:
                              - decimal_color: 14541530
                                color_id: 1185
                          - id: 1458727
                            uuid: 7f4f34c0-999b-11e9-887f-0242ac140003
                            asset: illustration
                            name: BLUE ROSE PATTERN
                            slug: blue-rose-pattern-1713480
                            price: 5
                            _score: 1
                            urls:
                              thumb: 'https://cdni.iconscoutmails.com/illustration/premium/thumb/blue-rose-pattern-1713480-1458727.png'
                            color_codes:
                              - decimal_color: 13691632
                                color_id: 1091
                          - id: 1499502
                            uuid: 202915e0-af73-11e9-a792-0242ac140003
                            asset: illustration
                            name: SKY BLUE OWL Felt Sleeping Design
                            slug: sky-blue-owl-felt-sleeping-design-1757835
                            price: 5
                            _score: 1
                            urls:
                              thumb: 'https://cdni.iconscoutmails.com/illustration/premium/thumb/sky-blue-owl-felt-sleeping-design-1757835-1499502.png'
                            color_codes:
                              - decimal_color: 11854835
                                color_id: 772
                          - id: 1480081
                            uuid: cb729bd0-a7b1-11e9-8d19-0242ac140003
                            asset: illustration
                            name: Baby and fox with flower wreath
                            slug: baby-and-fox-with-flower-wreath-1742726
                            price: 5
                            _score: 1
                            urls:
                              thumb: 'https://cdni.iconscoutmails.com/illustration/premium/thumb/baby-and-fox-with-flower-wreath-1742726-1480081.png'
                            color_codes:
                              - decimal_color: 15197913
                                color_id: 1173
                        first_page_url: /v3/search?query=%2A&product_type=item&asset=illustration&per_page=10&sort=relevant&quality=0&page=1
                        from: 1
                        last_page: 1075
                        last_page_url: /v3/search?query=%2A&product_type=item&asset=illustration&per_page=10&sort=relevant&quality=0&page=1075
                        next_page_url: /v3/search?query=%2A&product_type=item&asset=illustration&per_page=10&sort=relevant&quality=0&page=2
                        path: /v3/search
                        per_page: 10
                        prev_page_url: null
                        to: 10
                        total: 10747
                    meta:
                      total_time: 97.9
                      db_query_time: 2.78
                      db_query_count: 2
                    elements: null
                    message: null
      operationId: v3.search
      parameters:
        - schema:
            type: string
            example: avatar
          in: query
          name: query
          required: true
        - schema:
            type: string
            enum:
              - item
              - pack
            default: item
          in: query
          name: product_type
        - schema:
            type: string
            enum:
              - icon
              - illustration
            default: icon
          in: query
          name: asset
        - schema:
            type: string
            enum:
              - premium
              - free
          in: query
          name: price
        - schema:
            type: number
            default: 10
          in: query
          name: per_page
        - schema:
            type: number
            default: 1
          in: query
          name: page
        - schema:
            type: array
            items:
              type: string
              enum:
                - svg
                - eps
                - ai
                - png
                - jpg
            uniqueItems: true
          in: query
          name: 'formats[]'
        - schema:
            type: string
            default: relevant
            enum:
              - relevant
              - popular
              - latest
              - color
          in: query
          name: sort
          description: relevant
        - schema:
            type: array
            items:
              type: string
              enum:
                - flat
                - line
                - sticker
                - colored-outline
                - glyph
                - isometric
                - doodle
                - gradient
                - dualtone
                - rounded
            uniqueItems: true
          in: query
          name: 'styles[]'
          description: Only applicable when asset filter is icon.
        - schema:
            type: number
          in: header
          name: Client-ID
          description: 'You can create new Apps from here: https://iconscout.com/developers'
          required: true
      description: |-
        Search for 2.5 Million+ Icons or 25,000+ Illustrations by query string and filter parameters.
        If you need any type of special search filter (i.e category filter like user-interface or designer filter like iconscout/unicons) then let us know.
    parameters: []
  '/v3/items/{uuid}/api-download':
    parameters:
      - schema:
          type: string
        name: uuid
        in: path
        required: true
    post:
      summary: Item Download
      tags:
        - Download
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Item Download:
                  value:
                    status: success
                    response:
                      download:
                        url: 'https://duce5lj2f2sxj.cloudfront.net/icon/free/svg/1.svg?Expires=1617408000&Signature=qwXRzp4POqfp2gRalGahOKmIMitXsDnal7dalpLYW-QyepYZBeFNIdhN5JX~A~h4b03Z13zJW0EVSdMBPRnnfLMZAXsc3xT1sDFdptO7vGQGTueo23GoeTo1Wx6VFqo9CJc~g5reVBwxktQq6GrmkcOGIH0aQpkRoI25T5o8ntMCiX35sSs8JbyQW9WgKn3Yv91tGiQmXFWzNUvjeXp5yyFseuYNiE2JY9LPhINo3Cits6eD1Lh~myfie8sJRhbEoe9W4DL3wQAv6izonYsvCUs7H2xhfLdEjRpbqFBbEInP3JifJSiaR5QWSd~VC51xswmHwiwEIJUsGnaurBSj-A__&Key-Pair-Id=APKAIONEDRCDZGBCR6PA'
                        name: Insurance
                        download_url: 'https://download.dev.services.iconscout.com/download?name=insurance&download=1&url=https%3A%2F%2Fduce5lj2f2sxj.cloudfront.net%2Ficon%2Ffree%2Fsvg%2F1.svg%3FExpires%3D1617408000%26Signature%3DqwXRzp4POqfp2gRalGahOKmIMitXsDnal7dalpLYW-QyepYZBeFNIdhN5JX%7EA%7Eh4b03Z13zJW0EVSdMBPRnnfLMZAXsc3xT1sDFdptO7vGQGTueo23GoeTo1Wx6VFqo9CJc%7Eg5reVBwxktQq6GrmkcOGIH0aQpkRoI25T5o8ntMCiX35sSs8JbyQW9WgKn3Yv91tGiQmXFWzNUvjeXp5yyFseuYNiE2JY9LPhINo3Cits6eD1Lh%7Emyfie8sJRhbEoe9W4DL3wQAv6izonYsvCUs7H2xhfLdEjRpbqFBbEInP3JifJSiaR5QWSd%7EVC51xswmHwiwEIJUsGnaurBSj-A__%26Key-Pair-Id%3DAPKAIONEDRCDZGBCR6PA'
                        download_license_uuid: null
                      message: You have downloaded Insurance icon successfully.
                    meta:
                      total_time: 99.85
                      db_query_time: 20.96
                      db_query_count: 8
                    elements: null
                    message: null
      operationId: v3.items.api-download
      parameters:
        - schema:
            type: number
          in: header
          name: Client-ID
          required: true
          description: 'You can create new Apps from here: https://iconscout.com/developers'
        - schema:
            type: string
          in: header
          name: Client-Secret
          required: true
          description: 'You can create new Apps from here: https://iconscout.com/developers'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                format:
                  type: string
                  minLength: 1
              required:
                - format
            examples:
              Item Download Format:
                value:
                  format: svg
        description: Here you need to pass `format` of item to download (available from fetch item api)
      description: Get download link of item
components:
  schemas: {}
  securitySchemes: {}
